
:root {
  --system-font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* ------------------------------------ */
/*          html-slider styles          */
/* ------------------------------------ */
.k-sliderlabel {
  display: flex;
  align-items: center;
}
.k-sliderlabel .component-color-indicator {
  display: inline-block;
  margin-left: 10px;
}
/* side item style
---------------------------------*/
.editmode, .editmode .k-blocks-slick-html-slide {
  position: relative;
}
.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide-content>.wp-block::after {
  content: "";
  position: absolute!important;
  top: 1px; left: 1px; right: 1px; bottom: 1px;
  box-shadow: 0 0 0 2px #a8a8a8;
  border-radius: 1px 0 1px 1px;
  position: relative;
}
.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide-content>.wp-block.is-highlighted::after,
.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide-content>.wp-block.is-selected::after {
  box-shadow: 0 0 0 2px #007cba;
}
.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide-content>.wp-block::before {
  position: absolute;
  content: "slide";
  font-size: 10px;
  line-height: 10px;
  font-family: var(--system-font);
  padding: 3px 7px;
  top: -17px;
  right: -1px;
  background-color: #a8a8a8;
  color: #ffffff;
  border-radius: 3px 3px 0 0;
  z-index: 3;
}
.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide-content>.wp-block.is-highlighted::before,
.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide-content>.wp-block.is-selected::before {
  background-color: #007cba;
}
/* column labels style
---------------------------------*/
.has-child-selected .k-bs-grid-admin-col::before,
.is-selected .k-bs-grid-admin-col::before {
  position: absolute;
  content: "col";
  font-size: 10px;
  line-height: 10px;
  font-family: var(--system-font);
  top: 0.5px;
  right: 0.5px;
  color: #a8a8a8;
  border-bottom: 1px solid #a8a8a8;
  border-left: 1px solid #a8a8a8;
  padding: 3px 6px;
  font-weight: bold;
  border-radius: 0 1px 0 3px;
  z-index: 21;
}
.k-blocks-slick-html-slide-content>.is-selected .k-bs-grid-admin-col::before {
  border-bottom: 1px solid #007cba;
  border-left: 1px solid #007cba;
  color: #007cba;
}
div.block-editor-block-list__layout .is-highlighted.k-bs-grid-admin-col::before,
.has-child-selected .k-bs-grid-admin-col.is-selected::before {
  color: #007cba;
  border-bottom: 2px solid #007cba;
  border-left: 2px solid #007cba;
  font-weight: bold;
  z-index: 0;
}
.is-dark-theme .block-editor-block-list__layout .block-editor-block-list__block.is-highlighted.k-bs-grid-admin-col::after,
.is-dark-theme .block-editor-block-list__layout .block-editor-block-list__block.is-selected.k-bs-grid-admin-col::after,
div.block-editor-block-list__layout .is-highlighted.k-bs-grid-admin-col::after,
.has-child-selected .k-bs-grid-admin-col.is-selected:not(:focus)::after {
  position: absolute;
  content: "";
  top: 1px; left: 1px; right: 1px; bottom: 1px;
  border-radius: 1px;
  box-shadow: 0 0 0 2px #007cba;
}
/* bring to front col child when selected */
.k-bs-grid-admin-col.is-selected,
.k-bs-grid-admin-col:not(.is-highlighted) .is-selected,
.k-bs-grid-admin-col .is-highlighted {
  position: relative;
  z-index: 1;
}
.k-bs-grid-admin-col.is-selected>.k-bs-grid-admin-color-wrapper,
.k-bs-grid-admin-col:not(.is-highlighted) .is-selected>.k-bs-grid-admin-color-wrapper,
.k-bs-grid-admin-col .is-highlighted>.k-bs-grid-admin-color-wrapper {
  z-index: -1;
}

/* column labels style
---------------------------------*/
.block-editor-block-list__layout .block-editor-block-list__block[data-type="k-blocks-slick-html-parent/k-blocks"]:not([contenteditable]):focus:after {
  box-shadow: none;
}
div[data-type="k-blocks-sclick-slider-classic/k-blocks"].is-selected .img-gallery-wrapper:before,
div[data-type="k-blocks-slick-html-parent/k-blocks"].is-selected .k-blocks-slick-html-parent.viewmode::before,
div[data-type="k-blocks-slick-html-parent/k-blocks"] .k-blocks-slick-html-parent.editmode::before {
  content: "";
  position: absolute;
  box-shadow: 0 0 0 2px #a8a8a8;
  top: 1px; left: 1px; right: 1px; bottom: 1px;
  border-radius: 1px 0 1px 1px;
}
div[data-type="k-blocks-sclick-slider-classic/k-blocks"].is-selected .img-gallery-wrapper:before,
div[data-type="k-blocks-slick-html-parent/k-blocks"].is-selected .k-blocks-slick-html-parent.viewmode::before,
div[data-type="k-blocks-slick-html-parent/k-blocks"].is-selected .k-blocks-slick-html-parent.editmode::before {
  box-shadow: 0 0 0 2px #007cba;
}
div[data-type="k-blocks-sclick-slider-classic/k-blocks"].is-selected .img-gallery-wrapper:before,
div[data-type="k-blocks-slick-html-parent/k-blocks"].is-selected .k-blocks-slick-html-parent.viewmode::before {
  z-index: 1;
}
div[data-type="k-blocks-sclick-slider-classic/k-blocks"].is-selected .img-gallery-wrapper:after,
div[data-type="k-blocks-slick-html-parent/k-blocks"].is-selected .k-blocks-slick-html-parent.viewmode::after,
div[data-type="k-blocks-slick-html-parent/k-blocks"] .k-blocks-slick-html-parent.editmode::after {
  position: absolute;
  content: "html slider";
  font-size: 10px;
  line-height: 10px;
  font-family: var(--system-font);
  padding: 3px 7px;
  top: -17px;
  right: -1px;
  background-color: #a8a8a8;
  color: #ffffff;
  border-radius: 3px 3px 0 0;
  z-index: 1;
}
div[data-type="k-blocks-sclick-slider-classic/k-blocks"].is-selected .img-gallery-wrapper:after {
  content: "classic slider";
}
div[data-type="k-blocks-sclick-slider-classic/k-blocks"].is-selected .img-gallery-wrapper:after,
div[data-type="k-blocks-slick-html-parent/k-blocks"].is-selected .k-blocks-slick-html-parent.viewmode::after,
div.is-selected[data-type="k-blocks-slick-html-parent/k-blocks"] .k-blocks-slick-html-parent.editmode::after {
  background-color: #007cba;
}

.k-blocks-slick-html-slide.slick-slide {
    overflow: hidden;
}
.k-slider-custom-controls .components-notice {
  margin: 8px 0 24px;
  justify-content: stretch;
  padding: 8px;
}
.k-slider-custom-controls .components-notice .components-notice__content { margin: 0; }
.k-slider-custom-controls .components-notice p { margin-bottom: 5px; }
/* arrows and dots fixes
----------------------------------------*/
body ul.slick-dots {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}

/* ------------------------------------ */
/*            bs-grid styles            */
/* ------------------------------------ */
.k-bs-grid>.block-editor-inner-blocks>.block-editor-block-list__layout {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.k-bs-grid.has-justify-content-center>.block-editor-inner-blocks>.block-editor-block-list__layout { justify-content: center;  }
.k-bs-grid.has-justify-content-start>.block-editor-inner-blocks>.block-editor-block-list__layout { justify-content: start; }
.k-bs-grid.has-justify-content-end>.block-editor-inner-blocks>.block-editor-block-list__layout { justify-content: end; }
.k-bs-grid.has-justify-content-between>.block-editor-inner-blocks>.block-editor-block-list__layout { justify-content: space-between; }
.k-bs-grid.has-justify-content-around>.block-editor-inner-blocks>.block-editor-block-list__layout { justify-content: space-around; }

.k-bs-grid>.block-editor-inner-blocks>.block-editor-block-list__layout>.wp-block {
  margin-top: 0;
  margin-bottom: 0;
}

.grid-align-align-items-start>.block-editor-inner-blocks>.block-editor-block-list__layout { align-items: flex-start; align-content: flex-start; }
.grid-align-align-items-center>.block-editor-inner-blocks>.block-editor-block-list__layout { align-items: center; align-content: center; }
.grid-align-align-items-end>.block-editor-inner-blocks>.block-editor-block-list__layout { align-items: flex-end; align-content: flex-end; }

.is-pressed .active-white { fill: white; }

.k-bs-grid-admin-col .block-editor-block-list__layout { min-height: 1rem; }
.block-editor-block-list__layout .block-editor-block-list__block[data-type="k-blocks-bs-grid/k-blocks"]:not([contenteditable]):focus:after  {
  left: -9px;
  right: -9px;
  top: 0;
  bottom: 0;
}
.block-editor-block-list__block[data-type="k-blocks-bs-grid/k-blocks"] .block-editor-block-list__layout.has-overlay:after {
  display: none;
}
/* styles for selectable column area */
.k-bs-grid-admin-col {
  position: relative;
}
.has-child-selected .k-bs-grid-admin-col:not(.is-selected)::after,
.is-selected .k-bs-grid-admin-col:not(.is-selected)::after {
  content: "";
  box-shadow: 0 0 0 1px #a8a8a8;
  border-radius: 1px;
  position: absolute;
  top: 0.5001px;
  left: 0.5001px;
  right: 0.5001px;
  bottom: 0.5001px;
}
.k-blocks-slick-html-slide-content>.is-selected .k-bs-grid-admin-col::after {
  box-shadow: 0 0 0 1px #007cba;
}

/* columns-controls-colors */
.k-bs-grid-cols-controls {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.k-bs-grid-cols-controls>.components-flex {
  border-top: 1px solid #e0e0e0;
  padding-left: 0!important;
  padding-right: 0!important;
}
.k-bs-grid-cols-controls>.components-flex:last-child {
  border-bottom: 1px solid #e0e0e0;
}
.block-editor-block-inspector .k-bs-grid-cols-controls .components-base-control:last-child,
.block-editor-block-inspector .k-bs-grid-cols-controls .components-base-control__field {
  margin-bottom: 0;
}
.k-bs-grid-cols-controls .components-range-control__root { margin-top: 5px; }
/* grid selector styles */
.k-bs-grid-cols-controls .k-bs-grid-cols-selector label.components-checkbox-control__label {
  margin-bottom: 0;
  font-weight: normal;
  min-width: 25px;
}
.k-bs-grid-cols-selector .components-checkbox-control__input-container { margin-right: 8px; }
.k-bs-grid-cols-controls .k-bs-grid-cols-selector { min-width: 55px; }
.k-bs-grid-cols-controls .k-bs-grid-cols-range .components-range-control__number { max-width: 50px; }
/* placeholder styles */
div.is-selected>.k-bs-grid>.components-placeholder {
  box-shadow: none;
}

/* appenders styles
---------------------------------------------- */
.k-blocks-slick-html-parent.backend>div>div>div> .block-list-appender.wp-block {
  position: relative;
}
.k-blocks-slick-html-parent.backend>div>div>div> .block-list-appender .block-editor-button-block-appender {
  border-radius: 2px;
}
.k-bs-grid-admin-col>span>div>div>.block-list-appender .block-editor-button-block-appender {
  box-shadow: none;
  border-radius: 1px;
}
.k-blocks-slick-html-slide-content>.wp-block.is-selected .k-bs-grid-admin-col>span>div>div>.block-list-appender .block-editor-button-block-appender {
  box-shadow: none;
}
.k-bs-grid-admin-col.is-selected>span>div>div>.block-list-appender .block-editor-button-block-appender {
  box-shadow: 0 0 0 1px #007cba;
}

/* html slider edit mode styles
-----------------------------------------------*/
.k-blocks-slick-html-parent .k-blocks-slick-html-slide-content>.wp-block {
  margin-top: 13px;
  margin-bottom: 13px;
}
.k-blocks-slick-html-parent.editmode {
  padding-top: 19px;
  padding-bottom: 13px;
}
.k-blocks-slick-html-parent.backend.editmode {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect fill='%23f5f5f5' x='0' y='0' width='10' height='10'/><rect fill='%23f5f5f5' x='10' y='10' width='10' height='10'/></svg>");
  background-color: #ffffff;
  background-repeat: repeat;
  background-size: 20px 20px;
}
.is-dark-theme .k-blocks-slick-html-parent.backend.editmode {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><rect fill='%23161719' x='0' y='0' width='10' height='10'/><rect fill='%23161719' x='10' y='10' width='10' height='10'/></svg>");
  background-color: #0f1011;
  background-repeat: repeat;
  background-size: 20px 20px;
}
.has-child-selected>.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide .k-bs-slider-block-container.container,
.is-selected>.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide .k-bs-slider-block-container.container {
  border: 1px solid #73c990;
  border-radius: 2px 0 2px 2px;
  position: relative;
  background-image:
    linear-gradient(to right,
      rgba( 115, 201, 144, 0.4 ) 0%,
      rgba( 115, 201, 144, 0.4 ) calc(var(--bs-gutter-x) * .5),
      rgba(0, 0, 0, 0) calc(var(--bs-gutter-x) * .5),
      rgba(0, 0, 0, 0) calc(100% - var(--bs-gutter-x) * .5),
      rgba( 115, 201, 144, 0.4 ) calc(100% - var(--bs-gutter-x) * .5),
      rgba( 115, 201, 144, 0.4 ) 100%
    );
}
.has-child-selected>.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide .k-bs-slider-block-container.container::before,
.is-selected>.k-blocks-slick-html-parent.editmode .k-blocks-slick-html-slide .k-bs-slider-block-container.container::before {
  position: absolute;
  content: "container";
  font-size: 10px;
  line-height: 1;
  top: 0px;
  left: 0px;
  color: #73c990;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #73c990;
  border-right: 1px solid #73c990;
  padding: 3px 6px;
  font-weight: bold;
  border-radius: 0 0 3px 0;
  z-index: 25;
}

.k-blocks-slick-html-parent.editmode .components-placeholder {
  max-width: calc(100% - 32px);
  margin: 0 auto 13px;
  border-radius: 2px;
}

/* last child styles */
.k-bs-grid-admin-col>span>div>div>:last-child {
  margin-bottom: 0;
}
.is-selected.k-bs-grid-admin-col>span>div>div>:nth-last-child(2) {
  margin-bottom: 0;
}
.k-bs-grid-admin-col>span>div>div>.wp-block-image .components-resizable-box__container img {
    display: inline-block;
    width: inherit;
    height: inherit;
}

/* FIX add styles missing in backenf
------------------------------------------------*/
.k-blocks-slick-html-parent .wp-block-gallery,
.k-blocks-slick-html-parent .is-layout-flex {
    display: flex;
    gap: 0.5em;
}
